.machine {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 420px;
  margin: 20px auto;
  background-color: #11213a;
  color: #04c0b2;
  border-radius: 30px;
  transform: rotateX(360deg);
}

section {
  text-align: center;
}


.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
  transform-style: preserve-3d;
}

body{
  text-align: center;
}