body{
  text-align: center;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Creaci%C3%B3n_de_Ad%C3%A1n_%28Miguel_%C3%81ngel%29.jpg);
  
}
#slot{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 400px;
  margin: 10px auto;
  height: 300px;

  border-radius: 10px;
  background-image: url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg');
}


.item{
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  border: 2px solid #ecd7ba;
  line-height: 100px;
  font-size: 60px;
  justify-self: center;
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #8f878b 62%, #9B36B7 85%, #515ECF);
  fill: #fff;
}

.spin{
  grid-column: 3 / span 2;
  grid-row: third-line 8;
  width: 300px;
  border-radius: 50px;
  font-size: 30px;
  height: 50%;
   
}

h1{

  font-size: 100px;
  color: #d7a62f;
  margin: 10px auto;
  background: rgb(49, 24, 24);
  font-weight: 1000;
  font-style: italic;
  border-radius: 5px;
}

#msg{
  align-self: flex-end;
  color: white;
  width: 10px;
  flex-direction: row;
  display: flex;
}

h2{
  grid-column-start: 3;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  grid-row-end: span 7;
  height: 55PX;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  color:#C34A36;
  width: 500px;
  font-style: oblique;
 
  font-weight: 1000;
  font-style: italic;
  border-radius: 5px;
  font-size: 45px;
}

#score{
  align-self: end;
  font-size: 20px;
  color: #0f0908;
  text-decoration: bold;
  background: #fff;
  font-weight: 700;
border-radius: 2px;
}

